Lec 01.1 - Quiz 1

# Lec 01.1 - Quiz 1

In [1]:
%pylab inline

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

## Part 1

**y_hat**  (1D array, dimension, and shape)

In [2]:
y_hat = np.linspace(-1, 1, num=20)
dim_y_hat = y_hat.ndim
shape_y_hat = y_hat.shape

print(y_hat)

[-1.         -0.89473684 -0.78947368 -0.68421053 -0.57894737 -0.47368421
 -0.36842105 -0.26315789 -0.15789474 -0.05263158  0.05263158  0.15789474
  0.26315789  0.36842105  0.47368421  0.57894737  0.68421053  0.78947368
  0.89473684  1.        ]

**y**  (2D array, dimension, and shape)

In [3]:
y = np.linspace(0, 1, num=20)
dim_y = y.ndim
shape_y = y.shape

print(y)

[0.         0.05263158 0.10526316 0.15789474 0.21052632 0.26315789
 0.31578947 0.36842105 0.42105263 0.47368421 0.52631579 0.57894737
 0.63157895 0.68421053 0.73684211 0.78947368 0.84210526 0.89473684
 0.94736842 1.        ]

### Mean Squared Error

In [4]:
def meanSquaredError(y_hat, y):
    diff = np.subtract(y_hat, y)
    sqr = np.square(diff)
    l_mse = sqr.mean()
    
    return l_mse
        
print("Mean Squared Error = ", meanSquaredError(y_hat, y))

Mean Squared Error =  0.3421052631578948

### Mean Absolute Error (MAE)

In [5]:
def meanAbsoluteError(y_hat, y):
    diff = np.subtract(y_hat, y)
    abslt = np.abs(diff)
    l_mae = abslt.mean()
    
    return l_mae
        
print("Mean Absolute Error = ", meanAbsoluteError(y_hat, y))

Mean Absolute Error =  0.4999999999999999


### Mean Squared Logarithmic Error

In [6]:

def meanSquaredLogarithmicError(y_hat, y):
    new_y_hat = np.add(y_hat,1)
    new_y = np.add(y,1)
    
    lg_y_hat = np.log(new_y_hat)
    lg_y = np.log(new_y)
    
    diff = np.subtract(lg_y_hat, lg_y)
    sqr = np.square(diff)
    l_msle = sqr.mean()
    
    return l_msle
    
print("Mean Squared Logarithmic Error = ", meanSquaredLogarithmicError(y_hat, y))
# Inf because one of the target values is negative.

Mean Squared Logarithmic Error =  inf

C:\Users\Pamela\AppData\Local\Temp\ipykernel_4092\144332985.py:5: RuntimeWarning: divide by zero encountered in log
  lg_y_hat = np.log(new_y_hat)

### Mean Absolute Percentage Error

In [7]:
def meanAbsolutePercentageError(y_hat, y):
    diff = np.subtract(y_hat, y)
    qout = diff/y_hat
    abslt = np.abs(qout)
    l_mape = abslt.mean()*100
    
    return l_mape

print("Mean Absolute Error = ",meanAbsolutePercentageError(y_hat, y))

Mean Absolute Error =  202.65927536515775

## Part 2

1.Create a 1d array M {1, 2, â€¦16} using the arange function

In [8]:
M = np.arange(1,17)

2.Reshape M into 4x4 array and store it to N

In [9]:
N = M.reshape(4,4)

3.Get the 2nd row of N

In [10]:
second_row_N = N[1, :]

4.Get the minimum values for each column of N

In [11]:
min_val_col_N = np.min(N, axis=0)

5.Get the locations of the minimum values for each column of N

In [12]:
locs = []
for x in min_val_col_N:
    loc = np.where(N==x) #returns a tuple
    locs.append(list(zip(loc[0], loc[1]))) #takes the values in the tuple and creates a list for the location of a value 
print(locs)

[[(0, 0)], [(0, 1)], [(0, 2)], [(0, 3)]]

6.Get the average of the whole matrix

In [13]:
avg_N = np.mean(N)

7.Create a vector V with 4 elements, each element is 1

In [14]:
V = np.ones(4)

8.Take the dot product of N and V

In [15]:
np.dot(N, V)

array([10., 26., 42., 58.])